<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>User Registration</h1>
    <form action="/" th:object="${host}" method="POST">
        <div class="form-group">
            <label>Name or Business</label>
            <input th:field="${HostUserName}"/>
            <p th:each="error: ${#fields.errors('HostUserName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input th:field="${HostUserPhysAddress}"/>
            <p th:each="error : ${#fields.errors('HostUserPysAddress')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" th:field="*{HostUserEmail}"/>
            <p th:each="error : ${#fields.errors('HostUserEmail')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" th:field="*{HostUserPassword}"/>
            <p th:each="error : ${#fields.errors('HostUserPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" th:field="*{matchingHostUserPassword}"/>
        </div>
        <div class="form-group">
            <label>Web Address</label>
            <input th:field="*{HostUserWebsite}"/>
            <p th:each="error : ${#fields.errors('HostUserWebsite')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Menu Address</label>
            <input th:field="*{HostUserMenu}"/>
            <p th:each="error : ${#fields.errors('HostUserMenu')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input th:field="*{HostUserDescription}"/>
            <p th:each="error : ${#fields.errors('HostUserDescription')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit">Submit</button>

    </form>

</div>

</body>
</html>