<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>User Registration</h1>
    <form action="/user/user_registration" th:object="${user}" method="POST">
        <div class="form-group">
            <label>First Name</label>
            <input th:field="*{firstName}"/>
            <p style="color:red" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input th:field="*{lastName}"/>
            <p style="color:red" th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input th:field="*{username}"/>
            <p style="color:red" th:each="error : ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" th:field="*{password}"/>
            <p style="color:red" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" th:field="*{matchingPassword}"/>
            <p style="color:red" th:each="error : ${#fields.errors('matchingPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" th:field="*{email}"/>
            <p style="color:red" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label>Zip Code</label>
            <input size="5" th:field="*{zipCode}"/>
            <p style="color:red" th:each="error : ${#fields.errors('zipCode')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit">Submit</button>

    </form>

</div>

</body>
</html>