<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1>Forum</h1>
    <h4>This will be the page where users will go to sort through the database of all the hosts.</h4>
    <p>Eventually this page will have a large table of all the host that can be filtered various ways.
    Some of the ways will include: by name, by distance, by rating and if food is available.</p>
</div>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Rating</th>
        <th>Has Food</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.type.name}"></td>
    </tr>

</table>
</body>
</html>