<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:allign-content="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<link th:href="@{/css/triviafinder.css}" rel="stylesheet" />
<style>
h1 {
    text-align: center;
    text-transform: uppercase;
}
p {
    text-align:center;
    font-weight:bold;
  }
a {
    text-align:center;
    }
</style>
<body>
    <div class="container body-content">
        <div th:replace="fragments :: page-header"></div>

        <div>
            <h1 th:text="${name}" />
        </div>

        <div>
            <p>
                <a href="${website}" >Website</a>
                <a href="${menu}" >Menu</a>
            </p>
        </div>


        <div>
            <p th:text="${description}" />
        </div>

        <div>
            <p th:text="${addressLineOne}" />
            <p th:text="${addressLineTwo}" />
        </div>



    </div>
</body>
</html>