<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container body-content">
    <div th:replace="fragments :: page-header"></div>

    <div class="title-details">
        <p>Fallon's Irish Bar  Grill</p>
        <h3>9200 Olive Blvd #116, Olivette, MO 63132, (314) 991-9800</h3>
        <h2>5/5 stars</h2>
    </div>
    <div class="profile-picture">
        <img src="https://static1.squarespace.com/static/5b09ac6d2714e54cf495c233/t/5b11a8496d2a737bcbb8d2f7/1527883854744/static1.squarespace.jpg?format=750w">
    </div>
    <div class="hotlinks">
        <a href="https://www.fallonsbarandgrill.com/">Homepage</a>
        <a href="https://www.fallonsbarandgrill.com/menu/">Menu</a>
    </div>
    <div class="ratings">
        <table style="width:100%">
            <tr>
                <th>Comment</th>
                <th>User</th>
                <th>Rating</th>
            </tr>
            <tr>
                <td>"Love it! Is always so much fun."</td>
                <td>TriviaLover55</td>
                <td>5/5 Stars</td>
            </tr>
            <tr>
                <td>"A bit loud but it is a small hole in the wall joint so that is to be expected. The food is really good as well."</td>
                <td>Wilma2942</td>
                <td>4/5 Stars</td>
            </tr>
            <tr>
                <td>"Really great atmosphere. Very much has that small town, hole-in-the-wall feeling. Took the family and had a blast. Will totally return in the future."</td>
                <td>TriviaDad1946</td>
                <td>5/5 Stars</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>