<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <p>Welcome to Triva Finder!</p>
    <p>Your go-to spot for finding local triva in your area.</p>
    <p>New user? Great! Register now to get started.</p>
    <p>Are you a business or individual who is hosting triva? Excellent! Register now so users can start finding you.</p>
    <form th:action="@{/user/user_registration}">
        <input type="submit" value="New User" />
    </form>
    <form th:action="@{/host/host_registration}">
        <input type="submit" value="New Host" />
    </form>
</div>

</body>
</html>